/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Poppins:wght@200;300;400;500;600;700&family=Space+Grotesk:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #000;
    --second-color: #000;

}

*::selection{
    color: #fff;
    background: black;
}

body{
    background: #E6AA48;
}

section{
    padding: 50px 10%;
}

img{
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E6AA48;
    box-shadow: 0 4px 41px rgb(14 55 54 / 14%);
    padding: 15px 10%;
    transition: 0.2s;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 100px;
}

.navbar{
    display: flex;
}

.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar a:hover{
    color: #fff;
}

.button{
    padding: 5px 13px;
    border: 3px solid black;
    border-radius: 25px;
    color: white;
    font-weight: 800;
}

.button:hover{
    color:#E6AA48;
    background: black;
}


#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    display: none
}

.heading{
    font-size: 2rem;
    color: black;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.btn{
    padding: 7px 16px;
    border: 2px solid black;
    border-radius: 40px;
    color: black;
    font-weight: 500;
}

.btn:hover{
    color: #fff;
    background: black;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.about-img{
    flex: 0.2 1 15rem;
}

.about-text{
    flex: 1 1 21rem;
}

.heading{
    color: black;
}

.about-text h2{
    font-size: 1.2 rem;
    color: black;
}

.about-text p{
    margin: 0.5rem 0 1rem;
    text-align: justify;
}

.team{
    position: relative;
    width: 100%;
    height: 100%;
    background: #E6AA48;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-content{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;
}

.team-content img{
    width: 100%;
    height: auto;
    border-radius: 25px;
    margin-bottom: 25px;
}

.center h1{
    color: black;
    font-size: 4rem;
    text-align: center;
}

.box{
    padding: 16px;
    background: #ebdbc8;
    border-radius: 20px;
    transition: all .38s ease;
}

.box h3{
    font-size: 23px;
    font-weight: 600;
    color: black;
    margin-bottom: 8px;
}

.box h5{
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.icons i{
    display: inline-block;
    color: #fff;
    font-size: 25px;
    margin:  0 8px;
    transition: all .38s ease
}

.icons i:hover{
    transform: scale(1.2);
}

.box:hover{
    transform: translateY(-10px);
    cursor: pointer;
}